@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.cdnfonts.com/css/clash-display');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "inter";
}

/* NavBar */
nav{
    padding: 1rem 5rem;
    background-color: transparent;
    position: absolute;
}
.nav-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.5rem;
    margin: 0 3rem;
    gap: 13rem;
}
.nav-container > img{
    width: auto;
    height: auto;
    max-width: 100%;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin: 16px;
}
.nav-links-wrapper > ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    gap: 4rem;
    font-size: 16px;
    font-weight: 500;
    color: #c9bfd8;
}
.nav-links-wrapper > ul > li {
    cursor: pointer;
}
.nav-button{
    display: flex;
    padding: 16px 50px;
    font-family: "arial";
    font-size: 14px;
    color: #fff;
    background-color: #d331bb;
    cursor: pointer;
}
/* Humburger Menu */
.humburger{
    display: none;
}
.humburger:hover{
    cursor: pointer;
}
.hb-menu{
    background-color: black;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-align: center;
    gap: 2rem;
    font-size: 18px;
    position: absolute;
    width: 100%;
    padding: 2rem 0rem;
}
.nav-button-hm{
    display: flex;
    padding: 16px 50px;
    font-family: "arial";
    font-size: 14px;
    color: #fff;
    background-color: #d331bb;
    cursor: pointer;
}
.hb-menu> li{
    color: #c9bfd8;
}
/* Responsive NavBar */
@media screen and (max-width: 1245px) {
    .nav-links-wrapper{
        display: none;
    }
    .nav-button{
        display: none;
    }
    .humburger{
        display: flex;
    }
}
@media screen and (max-width: 768px) {
    nav {
        padding: 1rem 2rem;
    }
    .nav-container{
        padding: 0 2.5rem;
        margin: 0 1rem;
    }
}
@media screen and (max-width: 625px) {
    nav {
        padding: 1rem 1rem;
    }
    .nav-container{
        padding: 0 2.5rem;
        margin: 0 0rem;
    }
}
@media screen and (max-width: 458px) {
    nav {
        padding: 1rem 1rem;
    }
    .nav-container{
        padding: 0 2rem;
    }
}
@media screen and (max-width: 361px) {
    nav {
        padding: 1rem 1rem;
    }
    .nav-container{
        padding: 0 1rem;
    }
}
@media screen and (max-width: 321px) {
    nav {
        padding: 1rem 1rem;
    }
    .nav-container{
        padding: 0 0rem;
    }
}


/* 1st Page */
.p1stpage{
    display: flex;
    flex-direction: row;
    background-color: rgba(27, 14, 45, 0.92);
    justify-content: space-between;
}
.content{
    display: flex;
    flex-direction: column;
    margin-top: 13rem;
    margin-left: 11.5rem;
    gap: 2rem;
}
.content > h1{
    font-family: 'Clash Display', sans-serif;
    font-size: 82px;
    font-weight: 500;
    color: #fff;
    line-height: 90px;
}
.content > p{
    color: #fff;
    font-size: 14px;
    line-height: 28px;
}
.content > .nav-button-h1{
    background-color: #d331bb;
    padding: 18px 28px;
    width: 210px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    color: #fff;
}
.p1stpage > img{
    width: 680px;
}

.counter-wrapper{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    background-color: rgba(255, 255, 255, 0.1);
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    padding: 30px 50px;
    width: 520px;
}
.counter-itm > h3{
    font-family: 'Clash Display', sans-serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    color: #fff;
}
.counter-itm > sub{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    color: #c9bfd8;
}
.divider{
    width: 1px;
    color: #fff;
    height: 80px;
    /* margin: 0 40px; */
    background-color: #c9bfd8;
}